<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
  
    Welcome to {{ title }}!
  
  </h1>

    <!--div class="menu">

      <ul>
      <li> <app-contest></app-contest></li>
      <li><app-best-performers></app-best-performers></li>
      <app-box-office></app-box-office>
      <app-faq></app-faq>
      <app-fml-bux></app-fml-bux>
      <app-home></app-home>
      <app-how-to-play></app-how-to-play>
      <app-how-to-play></app-how-to-play>
      <app-insider></app-insider>
      <app-leagues></app-leagues>
      <app-login></app-login>
      <app-pick-rate></app-pick-rate>
      <app-research-vault></app-research-vault>
      <app-theaters></app-theaters>
      </ul>

    </div-->

</div>

<div class="layout">
 
  <div><app-layout></app-layout></div>

  <div><app-sidegrid></app-sidegrid></div>

</div>